{{ .Meta }}
{{ .ResourceValue }}

{{ $value := (raw_value_of .ResourceValue .Meta) }}
{{$res := .ResourceValue}}
{{$url := url_for_override .Context $value}}

{{ if and($value $url) }}
  <a href="{{$url}}">{{stringify $value}}</a>
{{ else }}
  <p> {{ stringify $value }} </p>
{{ end }}
